body::before {
    display: block;
    content: " ";
    height: 60px;
  }
  .bg-dark {
    background-color: rgb(214, 198, 198) !important;
  }

  .btn-dark {
    transition: opacity 0.2s !important;
    border-radius: 22px;
    border: none;
  }
  .btn-dark:hover {
    opacity: 0.5;
  }

  .btn-warning {
    background-color: rgb(79, 100, 124);
    border: none;
  }
  .btn-warning:hover {
    background-color: rgb(203, 200, 200);
    color: black !important;
  }
  .bg-warning {
    background-color: rgb(223, 223, 235) !important;
  }
  .bg-info{
    background-color: rgb(79, 100, 124) !important;
  }